
/////////////////////////////////////
///             MIXINS            ///
/////////////////////////////////////

$sans:        "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif:       "kepler-std", Georgia, "Times New Roman", Times, serif !default;
$mh_black: #222222;
$mh_offblack: #333333;
$mh_white: #ffffff;
$mh_whiteSmoke: #f9f9f9;
$mh_gold: #ae956b; /* #ae956b; PANTONE 871U */ /* #a39161; ALTERNATE */
$mh_grey: #d1ccc0;
$mh_darkgrey: darken($mh_grey, 15%);
$base_font_size: 20px;



/////////////////////////////////////
///            ELEMENTS           ///
/////////////////////////////////////


body {
	margin-top: 3.8em;
  font-size: $base_font_size;
}

h1 {
  font-size: 5em;
  font-family: $sans;
  font-weight: bold;
  color: $mh_gold;
  text-align: center;
}

h2 {
  font-size: 8em;
  font-family: $serif;
  font-weight: normal;
  color: $mh_gold;
  margin: 0;
}

h3 {
  font-size: 1.6em;
  font-family: $sans;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-size: 1em;
  font-family: serif;
  color: $mh_black;
}

em {
  font-style: italic;
  font-family: serif;
}

hr {
  color: $mh_black;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

blockquote {
  font-size: 1.1em;
  font-family: $serif;
  font-style: italic;
  text-align: center;
  border-top: 1px solid $mh_black;
  border-bottom: 1px solid $mh_black;
  border-left: 0;
  padding: 1em 0;
  color: $mh_gold;
  margin-left: 3em;
  margin-right: 3em;
  line-height: 1.3em;
}

blockquote.white {
  border-color: $mh_gold;
}


aside {
  
}

/////////////////////////////////////
///        UTILITY CLASSES        ///
/////////////////////////////////////

.gold {
  color: $mh_gold;
}

.black {
  color: $mh_black;
}

.white {
  color: $mh_white;
}


/////////////////////////////////////
///             STYLES            ///
/////////////////////////////////////

.hero {
  background: $mh_offblack;
  background-image: url('/images/jesus_cross.jpg');
  background-size: cover;
  background-position: center;
  padding: 5em 0;
}

.content_bg {
  background: rgba(255, 255, 255, .9);
  padding: 1em;
}

.year {
  padding-top: 2em;
  margin-bottom: 4em;
}

.year.lazy {
  background-image: url('/images/white.gif');
  background-size: cover;
}

#churches {
  background-color: $mh_gold;
}

#all_about_jesus {
  background-image: url('/images/white.gif');
  background-size: cover;
}

.mt1 { margin-top: 1em; }
.mt2 { margin-top: 2em; }
.mt3 { margin-top: 3em; }
.mt4 { margin-top: 4em; }
.mt5 { margin-top: 5em; }
.mt6 { margin-top: 6em; }
.mt7 { margin-top: 7em; }
.mt8 { margin-top: 8em; }
.mt9 { margin-top: 9em; }
.mt10 { margin-top: 10em; }
.mt11 { margin-top: 11em; }
.mt12 { margin-top: 12em; }
.mt13 { margin-top: 13em; }
.mt14 { margin-top: 14em; }
.mt15 { margin-top: 15em; }
.mt16 { margin-top: 16em; }
.mt17 { margin-top: 17em; }
.mt18 { margin-top: 18em; }
.mt19 { margin-top: 19em; }
.mt20 { margin-top: 20em; }




#churches {

  background: $mh_gold;
  color: $mh_white;
  padding: 3em 0;

  p {
    color: $mh_white;
  }

  a {
    color: $mh_white;
    & :hover {
     color: $mh_white; 
    }
  }

  h3 {
    color: $mh_offblack;
    margin-bottom: 1.6em;
  }
  
  dt {
    font-size: .6em;
    font-weight: normal;
  }
  
  dd {
    padding-bottom: .7em;
    border-bottom: 1px solid $mh_white;
    margin-bottom: 1em;
    font-family: $serif;
    font-size: 1em;
  }
  
  .last {
    border-bottom: none;
  }
  
}
