
/////////////////////////////////////
///             MIXINS            ///
/////////////////////////////////////

$sans:        "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif:       "kepler-std", Georgia, "Times New Roman", Times, serif !default;
$mh_black: #222222;
$mh_offblack: #333333;
$mh_white: #ffffff;
$mh_whiteSmoke: #f9f9f9;
$mh_gold: #ae956b; /* #ae956b; PANTONE 871U */ /* #a39161; ALTERNATE */
$mh_grey: #d1ccc0;
$mh_darkgrey: darken($mh_grey, 15%);



/////////////////////////////////////
///            ELEMENTS           ///
/////////////////////////////////////


body {
	margin-top: 3.8em;
}

h1 {
  font-size: 5em;
  font-family: $sans;
  font-weight: bold;
  color: $mh_gold;
  text-align: center;
}

h2 {
  font-size: 5em;
  font-family: $serif;
  font-weight: normal;
  color: $mh_gold;
}

h3 {
  font-size: 2em;
  font-family: $sans;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-size: 1em;
  font-family: serif;
  color: $mh_black;
}

em {
  font-style: italic;
  font-family: serif;
}

hr {
  color: $mh_black;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

blockquote {
  font-size: 2em;
  font-family: $serif;
  font-style: italic;
  text-align: center;
  border-top: 1px solid $mh_black;
  border-bottom: 1px solid $mh_black;
  border-left: 0;
  padding: 1em 0;
  color: $mh_gold;
}


aside {
  
}

/////////////////////////////////////
///        UTILITY CLASSES        ///
/////////////////////////////////////

.gold {
  color: $mh_gold;
}

.black {
  color: $mh_black;
}

.white {
  color: $mh_white;
}


/////////////////////////////////////
///             STYLES            ///
/////////////////////////////////////

.hero {
  background: $mh_offblack;
  padding: 5em 0;
}

.content_bg {
  background: rgba(255, 255, 255, .9);
  padding: 1em;
}