
/////////////////////////////////////
///             MIXINS            ///
/////////////////////////////////////

$sans:        "futura", "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif:       "kepler-std", Georgia, "Times New Roman", Times, serif !default;
$mh_black: #222222;
$mh_offblack: #333333;
$mh_white: #ffffff;
$mh_whiteSmoke: #f9f9f9;
$mh_gold: #ae956b; /* #ae956b; PANTONE 871U */ /* #a39161; ALTERNATE */
$mh_grey: #d1ccc0;
$mh_darkgrey: darken($mh_grey, 15%);
$base_font_size: 20px;



/////////////////////////////////////
///            ELEMENTS           ///
/////////////////////////////////////


body {
	padding-top: 7.4em;
  font-size: $base_font_size;
}

h1 {
  font-size: 5em;
  font-family: $sans;
  font-weight: bold;
  color: $mh_gold;
  text-align: center;
}

h2 {
  font-size: 8em;
  font-family: $serif;
  font-weight: normal;
  color: $mh_gold;
  margin: 0;
}

h3 {
  font-size: 1.6em;
  font-family: $sans;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-size: 1em;
  font-family: serif;
  color: $mh_black;
  margin-bottom: 1.6em;
}

em {
  font-style: italic;
  font-family: serif;
}

hr {
  color: $mh_black;
}

a {
  text-decoration: none;
  color: $mh_gold;
  &:hover {
    text-decoration: none;
    color: $mh_gold;
  }
}

blockquote {
  font-size: 1.1em;
  font-family: $serif;
  font-style: italic;
  text-align: center;
  border-top: 1px solid $mh_black;
  border-bottom: 1px solid $mh_black;
  border-left: 0;
  padding: 1em 0;
  color: $mh_gold;
  margin-left: 3em;
  margin-right: 3em;
  line-height: 1.3em;
}

blockquote.white {
  border-color: $mh_gold;
}

blockquote.inline {
  margin: 2em 4em;
  font-size: 1.6em;
}

aside {
  
}

/////////////////////////////////////
///        UTILITY CLASSES        ///
/////////////////////////////////////

.gold {
  color: $mh_gold;
}

.black {
  color: $mh_black;
}

.white {
  color: $mh_white;
}


.mt1 { margin-top: 1em; }
.mt2 { margin-top: 2em; }
.mt3 { margin-top: 3em; }
.mt4 { margin-top: 4em; }
.mt5 { margin-top: 5em; }
.mt6 { margin-top: 6em; }
.mt7 { margin-top: 7em; }
.mt8 { margin-top: 8em; }
.mt9 { margin-top: 9em; }
.mt10 { margin-top: 10em; }
.mt11 { margin-top: 11em; }
.mt12 { margin-top: 12em; }
.mt13 { margin-top: 13em; }
.mt14 { margin-top: 14em; }
.mt15 { margin-top: 15em; }
.mt16 { margin-top: 16em; }
.mt17 { margin-top: 17em; }
.mt18 { margin-top: 18em; }
.mt19 { margin-top: 19em; }
.mt20 { margin-top: 20em; }

.mb1 { margin-bottom: 1em; }
.mb2 { margin-bottom: 2em; }
.mb3 { margin-bottom: 3em; }
.mb4 { margin-bottom: 4em; }
.mb5 { margin-bottom: 5em; }
.mb6 { margin-bottom: 6em; }
.mb7 { margin-bottom: 7em; }
.mb8 { margin-bottom: 8em; }
.mb9 { margin-bottom: 9em; }
.mb10 { margin-bottom: 10em; }
.mb11 { margin-bottom: 11em; }
.mb12 { margin-bottom: 12em; }
.mb13 { margin-bottom: 13em; }
.mb14 { margin-bottom: 14em; }
.mb15 { margin-bottom: 15em; }
.mb16 { margin-bottom: 16em; }
.mb17 { margin-bottom: 17em; }
.mb18 { margin-bottom: 18em; }
.mb19 { margin-bottom: 19em; }
.mb20 { margin-bottom: 20em; }

.no_pad { padding: 0; }


/////////////////////////////////////
///             STYLES            ///
/////////////////////////////////////

.navbar-default {
  background: rgba(255, 255, 255, .90);
  border: none;
}

.brand_layer {
  padding-top: 2em;
  width: 100%;
}

.church_link {
  float: right;
  text-transform: uppercase;
  text-align: right;
  font-size: .5em;
  padding: 15px;
  a, span {
    display: inline-block;
  }
  a {
    text-align: left;
    color: $mh_black;
    & :hover {
      color: $mh_gold;
    }
  }
  .glyphicon {
    font-size: 2.6em;
    margin-left: .5em;
    color: $mh_gold;
  }
}

a.navbar-brand {
  img {
    height: 24px;
  }
}

.hero {
  background: $mh_offblack;
  background-image: url('/images/jesus_cross.jpg');
  background-size: cover;
  background-position: center;
  padding: 5em 0;
}

.content_bg {
  background: rgba(255, 255, 255, .9);
  padding: 1em;
}

.year {
  padding-top: 7.4em;
  margin-bottom: 4em;
}

.lazy {
  background-image: url('/images/white.gif');
  background-size: cover;
}

#all_about_jesus {
  background-image: url('/images/white.gif');
  background-size: cover;
  h1 {
    padding: 2em 0;
  }
}

#churches {

  background: $mh_gold;
  color: $mh_white;
  padding: 8em 0;

  p {
    color: $mh_white;
  }

  a {
    color: $mh_white;
    & :hover {
     color: $mh_white; 
    }
  }

  h3 {
    color: $mh_offblack;
    margin-bottom: 1.6em;
  }
  
  dt {
    font-size: .6em;
    font-weight: normal;
  }
  
  dd {
    padding-bottom: .7em;
    border-bottom: 1px solid $mh_white;
    margin-bottom: 1em;
    font-family: $serif;
    font-size: 1em;
  }
  
  .last {
    border-bottom: none;
  }
  
}
